<div 
    class="container__card"
    [style.background-color]="colorCard"
    [ngClass]="{'first-item': isFirst, 'last-item': isLast}"
> 
    <div class="card-icon">
        <img [src]="cardIcon" alt={{title}} />
    </div>
    <div class="card-title">
        <h1>{{title}}</h1>
    </div>
    <div class="card-description">
        <p>
            {{description}}
        </p>
    </div>
    <div class="btn-card">
        <button 
            class="btn-btn"
            [style.color]="colorCard"
        >
            Learn More
        </button>
    </div>
</div>